<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Blog Home</title>
		<link rel="stylesheet" type="text/css" href="?page=css" />
	</head>
	<body>
	###PAGE###
	<div id="footer"><a href="?page=blog_admin">Admin Area</a> | <a href="http://www.neverslair-blog.net/projects/opf/" target="_blank">OPF</a> Powered Miniblog</div>
	</body>
</html>