html {
	background-color:#d7d7fd;
}

body {
	font-family:helvetica,verdana;
	font-size:10pt;
	width:1024px;
	margin:auto;
	margin-top:20px;
}

h2 {
	border:0;
	padding:0;
	margin:0;
}

/* style anything link as text only */
.nolink {
	text-decoration:none;
	color:#000;
	border:0;
}

.nolink:hover {
	text-decoration:underline;
}

div#banner {
	border-bottom:1px solid black;
}

div#footer {
	width:100%;
	text-align:center;
	float:center;
}

/*	admin style	*/
div#adminpage ul {
	margin:0;
	padding:0;
	border:0;
}

div#adminpage {
	float:left;
	width:1024px;
	background-color:#fff;
	padding-bottom:20px;
	padding-top:20px;
}

div#adminpage > div#entries {
	clear:both;
	float:left;
	width:230px;
	margin-right:20px;
	margin-left:20px;
}

div#adminpage > div#blogpost {
	float:left;
	width:500px;
	padding-left:20px;
}

div#adminpage > div#home {
	margin-top:20px;
	margin-left:20px;
	margin-bottom:20px;
}

/*	blog home	*/
#blog_front {
  float:left;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  min-height: 600px;
  padding: 20px;
}

.entry {
	margin-top:20px;
	border-bottom:1px solid black;
}

/*	blog details	*/
#blog_detail {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  min-height: 600px;
  padding: 20px;
}

#blog_detail > img {
	max-width:800px;
}

div#text {
	clear:both;
	margin-top:20px;
}