<h1>Login to your blogs admin area:</h1>
<form name="login" action="index.php?page=blog_login&action=auth" method=POST>
	<label for="user">User:</label><br />
	<input type="text" name="user" /><br />
	<label for="password">Password:</label><br />
	<input type="password" name="password" /><br />
	<input type="submit" name="login" value="login" />
</form>